* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 800px;
    background-color: lightgray;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 40px;
    position: relative;    /* try commenting and see the difference */
}

.box-1 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    position: absolute;
    top: 40%;    /* Pixels are more common */
    left: 30%;    /* we can also use 0 and negative values*/
}

.box-3 {
    width: 300px;
    height: 300px;
    background-color: lightskyblue;
}