.card {
    width: 250px;
    height: 250px;
    background-color: salmon;
    margin-left: 100px;
    margin-top: 100px;
    /*transform: scale(1.2, 1.5);*/
}

/*NEGATIVE VALUES ALSO APPLY*/

/*.card:hover {*/
/*    transform: scale(1.2, 1.5);*/
/*}*/

/*.card:hover {*/
/*    transform: skew(20deg, 0deg);*/
/*}*/

/*.card:hover {*/
/*    transform: skew(0deg, 20deg);*/
/*}*/

/*.card:hover {*/
/*    transform: skew(20deg, 20deg);*/
/*}*/

/*.card:hover {*/
/*    transform: rotate(45deg);*/
/*}*/

.card:hover {
    transform: translate(100px, 100px);
}