html {
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a {
    padding: 2rem;
    background-color: lightblue;
    display: inline-block;
}

.feature-1 {
    font-size: 10px;
}

.feature-heading {
    font-size: 2em;
}

.feature-paragraph {
    font-size: 1em;
}

.feature-button {
    font-size: 0.5em;
    background-color: lightblue;
}

.click-me-button {
    font-size: 50px;  /*try changing the font-size to different pixel values and observe the size of the button in the browser */
    margin-top: 0.2em;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    background-color: lightcoral;
    display: inline-block;
}
