body {
    color: white;
    font-size: 30px;
}

.flex-container {
    background-color: lightgray;
    height: 500px;
    width: 1000px;
    display: flex;
}

/* try flex-shrink: 0; for all the flex items */
.flex-item-1{
    width: 300px;
    height: 100px;
    background-color: blue;
    flex-shrink: 2;
}

.flex-item-2{
    width: 300px;
    height: 100px;
    background-color: purple;
    flex-shrink: 6;
}

.flex-item-3{
    width: 300px;
    height: 100px;
    background-color: red;
    flex-shrink: 1;
}

.flex-item-4{
    width: 300px;
    height: 100px;
    background-color: green;
    flex-shrink: 1;
}