* {
    padding: 0;
    margin: 0;
}

.box-1 {
    max-width: 1000px;
    height: 400px;
    background-color: lightblue;
}

/*.box-2 {*/
/*    width: 1000px;*/
/*    max-height: 400px;*/
/*    background-color: lightsalmon;*/
/*    overflow: auto;*/
/*}*/

.box-2 {
    width: 1000px;
    min-height: 400px;
    background-color: lightsalmon;
    line-height: 1.2;
}