h1 {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline red wavy;
    text-transform: uppercase;
}

h2 {
    text-decoration: line-through green dashed;
    font-style: oblique;
    text-transform: lowercase;
}

p {
    font-weight: 700;
    font-style: oblique 30deg;
    text-decoration: overline blue;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

ul {
    list-style: square;
}