* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 800px;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-card {
    display: flex;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
