body {
    color: white;
    font-size: 30px;
}

.flex-container {
    background-color: lightgray;
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: flex-end;
}

.flex-item-1{
    width: 200px;
    height: 100px;
    background-color: blue;
    align-self: flex-start;
}

.flex-item-2{
    width: 200px;
    /*height: 100px;*/   /*Try uncommenting. The set height ensures the flex-item moves to the top*/
    background-color: purple;
    align-self: stretch;
}

.flex-item-3{
    width: 200px;
    height: 100px;
    background-color: red;
    align-self: center;
}

.flex-item-4{
    width: 200px;
    /*height: 100px;*/
    font-size: 50px;
    background-color: green;
    align-self: baseline;
}