h2 {
    text-align: left;
    line-height: 3;
    letter-spacing: -1px;
}

h3 {
    text-align: center;
}

h4 {
    text-align: right;
}

p {
    text-align: justify;
    line-height: 4;
}

a {
    text-align: center;
}