* {
    margin: 0;
    padding: 0;
}

.modal {
    width: 300px;
    height: 300px;
    background-color: lightgray;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}