a {
    font-size: 2rem;
    text-decoration: none;
}

a:link {
    color: blue;
}

a:hover {
    color: green;
}

a:visited {
    color: red;
}

a:active {
    color: yellow;
}

li {
    font-size: 2em;
}

li:first-child {
    color: red;
}

li:last-child {
    color: blue;
}

li:nth-child(3) {
    color: green;
}