.flex-container {
    width: 800px;
    height: 800px;
    background: lightgray;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    color: #fff;
    font-size: 30px;
    align-items: center;
}

.flex-item-1 {
    /*width: 200px;*/
    /*height: 100px;*/
    background-color: blue;
    font-size: 90px;
}

.flex-item-2 {
    /*width: 50px;*/
    /*height: 300px;*/
    background-color: purple;
    font-size: 200px;
}

.flex-item-3 {
    /*width: 100px;*/
    /*height: 150px;*/
    background-color: red;
    font-size: 150px;
}

.flex-item-4 {
    /*width: 150px;*/
    /*height: 50px;*/
    background-color: green;
    font-size: 120px;
}