/* EASE */

.ease {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    transition: 2s ease;
}

.ease:hover {
    border-radius: 50%;
}

/* LINEAR */

.linear {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    transition: 2s linear;
}

.linear:hover {
    border-radius: 50%;
}

/* EASE IN */

.ease-in {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    transition: 2s ease-in;
}

.ease-in:hover {
    border-radius: 50%;
}

/* EASE OUT */

.ease-out {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    transition: 2s ease-out;
}

.ease-out:hover {
    border-radius: 50%;
}

/* EASE IN OUT */

.ease-in-out {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
    transition: 2s ease-in-out;
}

.ease-in-out:hover {
    border-radius: 50%;
}