* {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 800px;
    height: 800px;
    font-size: 40px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    background-color: black;
    /*align-items: start;*/
    justify-content: space-evenly;
}

.grid-item-1 {
    background-color: red;
}

.grid-item-2 {
    background-color: green;
}

.grid-item-3 {
    background-color: blue;
}

.grid-item-4 {
    background-color: yellow;
}

.grid-item-5 {
    background-color: purple;
}

.grid-item-6 {
    background-color: orange;
}

.grid-item-7 {
    background-color: grey;
}

.grid-item-8 {
    background-color: pink;
}