body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
}

#taskContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

@media (max-width: 600px) {
    #taskContainer {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        width: 100%;
        margin: 5px 0;
    }

    ul {
        width: 90%;
    }
}