.box1 {
    width: 500px;
    height: 500px;
    background-color: salmon;
    /*margin-top: 40px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 50px;*/
    /*margin-left: 30px;*/
    margin: 40px 20px 50px 30px;
}

.box2 {
    width: 500px;
    height: 500px;
    background-color: khaki;
    margin: 25px;
}