p::first-letter {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

p::first-line {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

p::selection {
    color: red;
}

h1::after {  /* Works the same as ::before  */
    content: 'Beta';
    font-size: 12px;
    color: purple;
}