* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

#container {
    position: relative;
    background-color: #1f1f1f;
    height: 100vh;
    color: limegreen;
    font-size: 1.8rem;
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}

#container p{
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    width: 100%;
    padding: 0 20px;
}

.joke-container {
    height: 200px;
}

#loadJokeBtn {
    background-color: transparent;
    border: 1px solid limegreen;
    color: limegreen;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 10px;
    text-transform: uppercase;
    margin: 35px auto;
    display: block;
}

#chuckNorrisImg {
    height: 500px;
    width: 80%;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}