* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 1500px;
    background-color: lightgray;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 40px;
    margin-bottom: 100px;
}

.box-1 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    position: relative;
    top: 120px; /*try different pixel values*/
    z-index: 1;
}

.box-3 {
    width: 300px;
    height: 300px;
    background-color: lightskyblue;
    position: relative;
    z-index: 2;
}

.child-1 {
    height: 50px;
    width: 150px;
    background-color: red;
    position: relative;
    z-index: 99;
}

.child-2 {
    height: 50px;
    width: 150px;
    background-color: yellow;
    position: relative;
    bottom: 20px;
}




