* {
    margin: 0;
    padding: 0;
}

.parent-container {
    background-color: lightblue;
    /*height: 800px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.child-container {
    background-color: blue;
    height: 300px;
    width: 300px;
    /*margin: 0 auto;*/
    /*padding: 200px 200px;*/
    padding: 0 200px;
    color: white;
}