h1 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

a {
    font-size: 16px;
}

img {
    width: 100px;
}

.box {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 3em;
    background-color: #495057;
}