body {
    color: white;
    font-size: 30px;
}

.flex-container {
    background-color: lightgray;
    height: 500px;
    width: 1000px;
    display: flex;
}

.flex-item-1{
    width: 100px;
    height: 100px;
    background-color: blue;
    flex-grow: 1;
}

.flex-item-2{
    width: 100px;
    height: 100px;
    background-color: purple;
    flex-grow: 2;
}

.flex-item-3{
    width: 100px;
    height: 100px;
    background-color: red;
    flex-grow: 0;
}

.flex-item-4{
    width: 100px;
    height: 100px;
    background-color: green;
    flex-grow: 0;
}