* {
    padding: 0;
    margin: 0;
}

.container {
    /* width: 1000px; try max-width */
    max-width: 1000px;
    height: 500px;
    background-color: lightblue;
    margin-bottom: 30px;
}

img {
    max-width: 1200px;
    width: 100%;
}


