/** {*/
/*    color: blue;*/
/*    border-top: 5px solid red;*/
/*}*/

.hero-section {
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

/*a {*/
/*    text-align: center;*/
/*}*/