* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 1500px;
    background-color: lightgray;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 40px;
    margin-bottom: 100px;
}

.box-1 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    position: fixed;
    top: 0;
    right: 50%;
}

.box-3 {
    width: 300px;
    height: 300px;
    background-color: lightskyblue;
}